.rulespage
    position: relative
    width: 100%
    height: 100vh
.rules
    position: absolute
    width: 50%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    letter-spacing: 1px
    padding: 1rem
    padding-left: 2rem
    width: 60%
    height: 100%
    display: flex
    flex-direction: column
    color: $COLSECOND
    ul
        font-size: 1.4rem
        letter-spacing: 1px
        line-height: 1.8rem